.stat-container {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  span{
    padding-bottom: 0.2rem;
    font-size: calc(8px + 0.390625vw);
    color: white;
  }
}

.bar-container {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
}

.stat-bar {
  color: white;
  height: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
